<div class="contents">
  <div class="search">
    <%= form_tag('/posts/search', method: :get, class: "search_form") do %>
      <input class="search__query" name="keyword" placeholder=" 倉庫名で検索" type="text" value="" autofocus="true"><%= submit_tag "検索", class: "btn_search" %>
    <% end %>
  </div>
  <div class="search_results">
    <%= render @posts %>
    <%= paginate(@posts) %>
  </div>
</div>