.posting {
  font-size: 20px;
  margin: 10px 0 10px 0;
}

.facility {
  margin: 13px 0; 
  padding-bottom: 10px;
}

.facility-name {
  font-size: 18px;
  margin-left: 12px;
}

.new-address {
  padding-top: 22px;
  margin-left: 12px;
}

.post-image {
  padding-top: 22px;
  margin-left: 12px;
}

.image {
  font-size: 18px;
}

.address-word {
  font-size: 18px;
}

.btn_post {
  width: 5%;
  margin: 20px 0 0 12px;
}