.warehouse_name {
  font-size: 18px;
}

.comment {
  margin-top: 20px;
}

.comment-form {
  letter-spacing: 1px;
}

.btn_mouth {
  width: 5%;
  margin-left: 20px;
}

.word_of_mouth {
  margin-top: 20px;
  border-bottom: 2px solid #9b9090;
}